* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 214, 214);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline-line {
  position: absolute;
  width: 8px;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 50%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s linear;
  z-index: -1;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
  transform: translateY(-30px);
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
}

.text-box {
  padding: 20px 30px;
  background-color: rgb(255, 245, 246);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  right: -35px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -35px;
}

.text-box h2 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(255, 245, 246);
  right: -9px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(255, 245, 246);
  left: -9px;
}

/* Button de retour à l'accueil */
.return-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 16px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.2s;
  font-weight: bold;
}

.return-home:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}
